body {
  font-family: "Roboto", sans-serif;
  color: white;
}

.divVertical {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.divCentro,
.divDerecha,
.divDerecha2,
.divIzquierda,
.divIzquierda2,
.divEncabezado,
.divPie {
  border: 1px solid black;
  border-radius: 11px;
  padding: 0.8em;
  margin: 0.3rem;
}

.divEncabezado,
.divPie {
  display: flex;
  min-width: 100% auto;
  min-height: 10vh;
}
.divEncabezado {
  background-color: rgb(194, 190, 190);
  justify-content: space-between;
}
.divPie {
  background-color: aqua;
  justify-content: space-between;
}

.div1,
.div2 {
  display: flex;
  justify-content: space-between;
  min-height: 35vh;
}
.divIzquierda,
.divCentro,
.divDerecha,
.divDerecha2 {
  min-width: 31vw;
}
.divIzquierda {
  background-color: rgb(70, 68, 68);
}
.divCentro {
  background-color: aqua;
}
.divDerecha {
  background-color: orange;
}

.divIzquierda2 {
  width: 64vw;
  background-color: rgb(0, 82, 0);
}

.divDerecha2 {
  background-color: rgb(160, 75, 0);
}
.divElemento {
  display: flex;
  align-items: center;
  align-self: center;
  height: 3vh;
  border: 1px solid black;
  margin: 0.8rem;
  background-color: blue;
}

.divMenues {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid black;
}
